<a href="https://colab.research.google.com/github/hghri/DataScience/blob/main/Z_test_corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Corona_Updated.csv')

In [4]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0

In [6]:
# prompt: change Temp_Cat if Temprature column > 24 ,Temp_Cat =1 and else Temp_Cat = 0

df['Temp_Cat'] = df.Temprature.apply(lambda x: 1 if x > 24 else 0)

In [8]:
df['Temp_Cat'].describe()

count    206.000000
mean       0.145631
std        0.353595
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Temp_Cat, dtype: float64

In [15]:
dataA=df[df['Temp_Cat']==1]['Confirmed']
dataB=df[df['Temp_Cat']==0]['Confirmed']

In [13]:
mA=dataA.mean()

In [12]:
mB=dataB.mean()

In [19]:
stdA=dataA.std()

In [20]:
stdB=dataB.std()

In [22]:
lA=len(dataA)
lB=len(dataB)

In [21]:
from numpy import abs,sqrt,round
from scipy.stats import norm

In [24]:
d = sqrt((stdA**2/lA + (stdB**2 /lB)))

393.10517710531434

In [25]:
s = mA-mB

In [27]:
z_score = s/d

-1.6323644318706028

In [31]:
pvalue=2 * (1 - norm.cdf(abs(z_score)))

0.10260273730262148